html, body{
    height: 100%;
    width: 100%; 
}
html, nav{
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: white;
    box-shadow: 2px 2px 5px; 
    margin-bottom: 10px;
}
.nav1{
    padding-left: 50px;
}
.nav3{
    /* background-color: bisque; */
    width: 250px;
    display: flex;
    justify-content: space-around;
}
.nav3 {
    margin: 10px;
    padding-right: 30px;
}

.container-fluid{
    /* padding-left: 50px;
    padding-right: 50px; */
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 200vh;
    background-color: gainsboro;
    padding: 0;
}
.continerSide{
    padding-top: 50px;
    background-color: white;
    width: 30vw;
    padding-left: 70px;
}
.side1{
    display: flex;
   
}
.side2-1{
    display: flex;
    padding-top: 30px;
    padding-bottom: 15px;
}
.side2-2{
    display: flex;
    padding-bottom: 15px;
}
.side2-3{
    display: flex;
   
}

.containerSelling{
    margin: 50px;
    background-color: white;
    padding-top: 20px;
}
.inventory{
    margin-bottom: 50px;
}
.item{
    margin-bottom: 50px ;
}
.photoselling{
    margin-bottom: 50px;
}